.vscode/settings.json

development/node_modules

project/jdms/admin/index.html

project/jdms/admin/assets/js/admin.js

project/jdms/admin/core/builder/composer.lock

project/jdms/packages/default/components/*.json
project/jdms/packages/default/posttypes/*.json
project/jdms/packages/default/templates/*.json
project/jdms/packages/default/stashes/*.json

project/jdms/admin/core/controller/config.php

project/jdms/cache/*

project/jdms/content/assets/*
!project/jdms/content/assets/readme.txt

project/jdms/content/data/*
!project/jdms/content/data/.htaccess
project/jdms/admin/preview-room/index.html
development/package-lock.json
