body {
  background-image: url('/jdms/admin/core/controller/sign-in/assets/img/sign-in-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.ui-signin-panel {
  margin: 0 auto;
  max-width: 500px;
  position: relative;
  z-index: 2;
}

.ui-card--error p {
  color: red;
}

.ui-card--error p:last-of-type {
  margin-bottom: 0;
}