Options +FollowSymlinks

RewriteEngine on

RewriteBase /

# Redirect to admin directory
RewriteRule ^cp$ /cp/ [L,QSA]
RewriteRule ^cp/(.*)$ /jdms/admin/$1 [L,QSA]

# Redirect to preview url
RewriteRule ^cp/preview-room$ /cp/preview-room/ [L,QSA]
RewriteRule ^cp/preview-room/(.*)$ /jdms/admin/preview-room/$1 [L,QSA]

# Redirect to public assets
RewriteRule ^assets/(.*)$ /jdms/content/assets/$1 [L,QSA]

# Capture all that didn't meet any conditionals above
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/jdms/admin/ [NC]

RewriteRule ^(.*)$ /jdms/admin/core/builder/index.php?path=$1 [L,QSA]
RewriteRule ^/ /jdms/admin/core/builder/index.php?path=$1 [L,QSA]